* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 600px;
  background-image: url(img/hero.jpg);
  background-size: cover;
  background-position: top center;
}

header, nav, p, .news, .service footer {
  font-family: sans-serif;
}

.header-menu {
  width: 100%;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-bar {
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
}

.menu {
  color: aliceblue;
  font-size: 10px;
  margin-left: 5px;
  transform: scale(0.6);
}

.title {
  position: absolute;
  top: 5px;
  left: 10px;
  color: aliceblue;
}

.header-main {
  width: 100%;
  padding: 10% 10%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.main-text {
  color: aliceblue;
  text-align: center;
}

.main-text-p {
  font-size: 10px;
}

.main-text-box {
  width: 100px;
  transform: scale(0.6);
  margin: 10px auto 0px;
  border: solid 1px #ffffff;/*線*/
  border-radius: 50px;/*角の丸み*/
}

.main-text-link {
  font-size: 10px;
  transform: scale(0.8);
  line-height: 30px;
}

main {
  align-content: center;
}

.news {
  margin: 30px auto 0px;
  width: 1000px;
  display: flex;
  padding-left: 100px;
}

.news-logo {
  width: 15%;
  text-align: left;
  color: rgb(62, 62, 190);
}

.topic {
  font-size: 20px;
  font-weight: 900;
}

.topic-p {
  font-size: 10px;
}

.news-text {
  width: 25%;
}

.news-text1 {
  font-size: 10px;
  display: flex;
}

.gray {
  margin-left: 10px;
  text-align: center;
  width: 70px;
  background:rgb(226, 226, 226);
  border-radius:30px;
  transform: scale(0.7);
}

.news-text1 p {
  padding: 5px 0;
}

span {
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  background-size: 100px 100px;
  margin-left: 5px;
  padding: 1px;
  font-weight: 400;
}

.news-text2 {
  width: 65%;
  font-size: 10px;
}

.news-text2 p {
  padding: 5px 0;
}

.service {
  margin: 80px auto 0px;
  width: 1000px;
}

.topic-service {
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  color: rgb(62, 62, 190);
}

.topic-service2 {
  font-size: 10px;
  text-align: center;
  color: rgb(62, 62, 190);
}

.service-main {
  margin: 0 auto;
  width: 930px;
  display: flex;
}

.service-box {
  margin: 8px;
  width: 300px;
}

.service-image1 {
  width: 100%;
  height: 180px;
  background-image: url(img/service01.jpg);
  background-size: cover;
  background-position: center;
}

.service-image2 {
  width: 100%;
  height: 180px;
  background-image: url(img/service02.jpg);
  background-size: cover;
  background-position: center;
}

.service-image3 {
  width: 100%;
  height: 180px;
  background-image: url(img/service03.jpg);
  background-size: cover;
  background-position: center;
}


.service-text h6 {
  margin: 5px;
  font-size: 12px;
  text-align: center;
}

.service-text p {
  font-size: 10px;
  text-align: left;
}

.more {
  margin: 20px auto;
  text-align: center;
  width: 120px;
  height: 40px;
  border-radius:30px;
  color: #ffffff;
  font-size: 10px;
  line-height: 42px;
  background: linear-gradient(+100deg, #66057e, #2d0372);
}

.works {
  display: flex;
  width: 1000px;
  height: 350px;
  margin: 80px auto 0px;
}


.works-left {
  width: 40%;
}
.works-image {
  background-image: url(img/works/lamina.jpg);
  background-size: cover;
  width: 120%;
  height: 280px;
  margin-left: 50px;
  margin-top: 20px;
  position: relative;
  z-index: 8;
}


.works-right {
  width: 60%;
  background-color: #f1f1f1;
  position: relative;
  z-index: 1;
}

.works-text {
  margin-left: 150px;
  width: 40%;
}

.topic-works {
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  color: rgb(62, 62, 190);
  margin-top: 90px;
}

.topic-works2 {
  font-size: 10px;
  text-align: center;
  color: rgb(62, 62, 190);
}

.topic-works3 {
  font-size: 10px;
  margin-top: 15px;
}

.company {
  width: 1000px;
  height: 400px;
  margin: 30px auto 0px;
}

.mizutama {
  background-image: url(img/bg-circle.png);
  width: 100%;
  height: 100%;
  background-size: contain;
}


.hitobito {
  background-image: url(img/bg-face.png);
  width: 90%;
  height: 288px;
  background-size: contain;
  margin: 0 auto;
}

.conpany-maintext {
  text-align: center;
}

.topic-conpany1 {
  font-size: 20px;
  font-weight: 900;
  color: rgb(62, 62, 190);
  padding-top: 50px;
}

.topic-conpany2 {
  font-size: 10px;
  color: rgb(62, 62, 190);
}

.topic-conpany3 {
  font-size: 25px;
  font-weight: 600;
  border-bottom: solid 5px yellow;
  width: 400px;
  margin: 20px auto 20px;
  line-height: 10px;
}

.topic-conpany4 {
  font-size: 10px;
}

.recruit {
  width: 850px;
  height: 230px;
  margin: 50px auto 80px;
  display: flex;
}

.text-area {
  background-color: rgb(233, 233, 233);
  width: 40%;
  height: 100%;
  text-align: center;
}

.topic-recruit {
  font-size: 10px;
  margin-top: 20px;
}

.image-area {
  background-image: url(img/recruit.jpg);
  background-size: cover;
  width: 60%;
  height: 100%;
}

.contact {
  width: 100%;
  height: 230px;
  background-color: rgb(230, 230, 230);
  text-align: center;
}

footer {
  width: 100%;
  height: 120px;
  background-color: rgb(3, 3, 24);
}

.footer-menu {
  color: #ffffff;
  padding-top: 50px;
  text-align: center;
  font-size: 10px;
}

.footer-menu p {
  margin: 0 5px;
  display: inline-block;
}

.pon {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 10px;
  margin-top: 20px;
}

@media screen and (max-width:425px) {
  .main-text, .main-text-box {
    text-align: left;
    margin-left: 0;
  }
  .news, .service, .works, .company, .recruit {
    width: 100%;
  }

  .news {
    flex-wrap: wrap;
  }

  .news-logo {
    text-align: center;
    width: 100%;
    margin-right: 100px;
  }

  .news-text, .news-text1, .news-text2 {
    text-align: left;
    width: 100%;
  }

  .service-main {
    display: flex;
    flex-wrap: wrap;
  }


}